<link rel="stylesheet" type="text/css" href="http://www.dublinbikes.ie/var/dublin/cache/public/stylesheets/6e6c6610c72ee617b8e05846535c882a_all.css" />

<script type="text/javascript" src="http://www.dublinbikes.ie/var/dublin/cache/public/javascript/213ad09d84b103db6a67fe76dc200fa6.js" charset="utf-8"></script>
    
<div class="pagelayout_fullmap">

<div id="article">
    <div class="breaker"></div>
    <div class="txt_riche border_color_article">

<div class="class-image">

<div class="attribute-image">
<p><img src="http://www.dublinbikes.ie/var/pam/storage/images/red/146134-1-eng-IE/red_medium.png" width="12" height="20"  style="border: 0px  ;" alt="red" title="red" /><p>&nbsp;Just Eat dublinbikes station</p><p>&nbsp;</p></p><div>
            
 <div class="attribute-image">
<p><img src="http://www.dublinbikes.ie/var/pam/storage/images/green/146137-1-eng-IE/green_medium.png" width="12" height="20"  style="border: 0px  ;" alt="red" title="red" /><p>&nbsp; Station searched for</p><p>&nbsp;</p></p><div>  

 <div class="attribute-image">
<p><img src="http://www.dublinbikes.ie/var/pam/storage/images/yellow/146140-1-eng-IE/yellow_medium.png" width="12" height="20"  style="border: 0px  ;" alt="red" title="red" /><p>&nbsp;Address searched for</p><p>&nbsp;</p></p><div>  
    
<div class="attribute-image">
<p><img src="http://www.dublinbikes.ie/var/pam/storage/images/white/146143-1-eng-IE/white_medium.png" width="12" height="20"  style="border: 0px  ;" alt="red" title="red" /><p>&nbsp; Station available soon<p>&nbsp;</p></p><div>  
  
</div>


                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzs7LMBU4ZJTpLwNT7CD2mv5JSz76GbXc&sensor=false"></script>
<script type="text/javascript" src="http://www.dublinbikes.ie/extension/smileservicegenerique/design/standard/javascript/markermanager.js"></script>

<script type="text/javascript">
    //i18n
    function GmapsTexts() {};

    GmapsTexts.refreshed =            "Refreshed <b>{H?h} {m?min }{s}sec</b> ago";
    GmapsTexts.station_num =            "Station no.";
    GmapsTexts.station_details =        "Station details";
    GmapsTexts.loading_message =        "Loading...";
    GmapsTexts.available_bikes =        "Available bikes:";
    GmapsTexts.free_capacity =          "Free stands:";
    GmapsTexts.total_capacity =         "Total capacity:";
    GmapsTexts.more_details =           "More details...";
    GmapsTexts.link_addStation =        "Add to favorites";
    GmapsTexts.home_info_text =         "Move this icon over the map to obtain this point's closest stations.";
    GmapsTexts.home_info_title =        "Information:"
    GmapsTexts.computing_message =      "Calculating closest stations, please wait...";
    GmapsTexts.lc_name =                "Selected station name:";
    GmapsTexts.lc_borne =               "Station no.";
    GmapsTexts.lc_full_address =        "Full address:";
    GmapsTexts.lc_available_bikes =     "Available bikes:";
    GmapsTexts.lc_free_capacity =       "Free stands:";
    GmapsTexts.lc_total_capacity =      "Total capacity:";
    GmapsTexts.lc_details_cb =          "Credit cards accepted:";
    GmapsTexts.lc_yes =                 "YES";
    GmapsTexts.lc_no =                  "NO";
    GmapsTexts.not_found =              "This station could not be found";
    GmapsTexts.search_not_found =       "No result were found for this address";
    GmapsTexts.search_error =           "Your search could not be performed due to technical issues. Please retry later.";
    GmapsTexts.toolbar_default_text =   "<p>Please select a station and click on more details to display additional information in this box.</p>";
    GmapsTexts.not_connected =          "The station is temporarily disconnected. Its data are unavailable.";
</script>

<script type="text/javascript" src="http://www.dublinbikes.ie/design/marseille/javascript/gmaps_common.js"></script>
<script type="text/javascript" src="http://www.dublinbikes.ie/design/marseille/javascript/gmaps_search_station.js"></script>
                                         <script type="text/javascript">
    var attribid = 49030
    var mapid = 'map_49030';
    var orig_lat = 53.337433;
    var orig_long = -6.262207;
    var displayMode = 0;
    var startPoint = new google.maps.LatLng(orig_lat,orig_long);
    var stationsListUrl = "http://www.dublinbikes.ie/layout/set/fullmap/service/carto";
    var stationDetailsUrl = "http://www.dublinbikes.ie/service/stationdetails/dublin"
    var timeurlfull = "http://www.dublinbikes.ie/ezjscore/call/ezjc::time"
    var nbOfClosest = 0;
    var keyWords= "";
    var thisPage = "http://www.dublinbikes.ie/All-Stations/Station-map";
    var tipAFriendSubject = "";
    var searchAppendString = "dublin,ireland";
    var cacheEnabled = false;
    var minimapEnabled = true;
    var imagesUrl = "http://www.dublinbikes.ie/design/dublin/images/";
    var map = null;
    var geocoder = null;
    var gmapExistingOnload = null;
    var marker = null;
    var zoom = 15;
    jQuery(document).ready(function(){                          gMapsInit(false);
                });
</script>
<div class="map" id="map_49030" style="width: 465px; height: 400px"><div class="cartoLoadingMessage">Loading...</div></div>
<a class="map_zoom" href="http://www.dublinbikes.ie/All-Stations/Station-map" title='Close fullscreen'>Close fullscreen</a>
                           

 <h4 class="titr_recherche">Station map</h4>
        <p class="full_size">    <p>Use the map to find the station nearest to you or use the search option on the left hand side of the screen.</p><p>&nbsp;</p><p>Keys:</p><p>&nbsp;</p>	<div class="object-left">
	<div class="content-view-embeddedmedia">

</div>
</div>

        <div class="breaker"></div>
    </div>
    <div class="bas_article"></div>
</div>
</div>