{% extends 'layout.html' %}


    <link rel="stylesheet" href="css2.css">
{% block body %}
    <h1>Dublin Bikes Stations</h1>
<div id="map"></div>
<script type="text/javascript" src="javascript.js">
    </script>
    {% endblock %}
<!-- <h1>JSON and AJAX</h1>
<button id="btn">Fetch Info for 3 New Animals</button>    
<div id="animal-info"></div>
<script src="main.js"></script> -->
    
    
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA55VhjQyX8BeKEq7Przs3q7NU9RBLNBRg&callback=initMap">
    </script>

  </body>
</html>

<!--
<script type="text/javascript">
    
var obj1 = {user:"John", age:22, country:"United States"};
var obj2 = {user:"Will", age:27, country:"United Kingdom"};
var obj3 = {user:"Abiel", age:19, country:"United States"};
var obj4 = {u1:obj1, u2:obj2, u3:obj3};
    
document.write(obj3.user + " is " + obj3.age);
    
obj3.country = "Italy";
document.write("<hr />");   
document.write(obj3.user + " is " + obj3.age);
document.write("<br>")
document.write(obj4.u2.country);
   
//json arrays
var meats = ["beef", "pork", "lamb"];   
var fruits = ["apple", "orange", "banana"];
var obj5 = {arr1:meats, arr2:fruits};
    
document.write(obj5.arr1[0]);


    
</script>-->